@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --poppins: 'Poppins';

    --red: #BB2832;
    --white: #FFF;
    --gray: #999;
    --black: #212529;
    --darkgray: #707070;
    --colormain: #272727;
    --vertical-menu: #005C6F;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    height: 80px;
    padding: 0;
}

.header figure {
    margin: 0px 0px;
}

.menu img {
    width: 30px;
    height: 24px;
}

.logo img {
    object-fit: contain;
    object-position: center;
    width: 140px;
    height: 57px;
}

.search img {
    width: 24px;
    height: 24px;
}

.header {
    height: 80px;
}

.nav-bar {
    text-align: center;
    font-family: var(--poppins);
    background: var(--red);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar h3 {
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-top: 13px;
}

.nav-bar ul {
    margin-top: 8px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
}

.nav-bar .active::after {
    content: ' ';
    width: 55px;
    height: 2px;
    display: block;
    background-color: var(--white);
}

.top-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 37px;
    text-align: center;
    padding: 0;
}

.top-nav a {
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--red);
}

.top-nav a.active {
    color: var(--gray);
}

.main {
    max-width: 820px;
    margin: 0 auto;
    display: block;
}

#accordion img {
    width: 100%;
    height: auto;
}

.title-acordion h1 {
    color: var(--black);
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    font-family: var(--poppins);
    margin-bottom: 57px;
}

.title-acordion h1::before {
    content: ' ';
    width: 62px;
    height: 5px;
    background-color: var(--red);
    display: block;
    margin-bottom: 10px;
}

#accordion h3 {
    border-top: 1px solid var(--darkgray);
    padding-top: 21px;
    padding-bottom: 21px;
    position: relative;
    color: var(--colormain);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    font-family: var(--poppins);
}

#ui-id-2,
#ui-id-4,
#ui-id-6,
#ui-id-8,
#ui-id-10,
#ui-id-12 {
    height: auto !important;
}


#accordion h3:last-of-type {
    border-bottom: 1px solid var(--darkgray);
    ;
}

#accordion h3.ui-state-active {
    color: var(--red);
}

#accordion .ui-icon-circle-arrow-e {
    background-image: url('./images/plus.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}


#accordion .ui-icon-circle-arrow-s {
    background-image: url('./images/less.svg');
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.footer-socials {
    background-color: var(--red);
    height: 149px;
    margin-top: 80px;
    text-align: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.footer-socials h5 {
    padding-top: 36px;
    color: var(--white);
    font-family: var(--poppins);
    font-weight: 500;
    line-height: 22px;
    font-size: 18px;
}

.footer-socials ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding-top: 20px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 80px;
    width: 1030px;
    gap: 45px 20px;
}

.footer-info ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer-info ul {
    padding-left: 0;
    list-style: none;
    width: 190px;
}

.footer-info ul a {
    text-decoration: none;
    font-family: var(--poppins);
}

.title-info a {
    display: block;
    color: var(--colormain);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.title-info {
    height: 43px;
    margin-bottom: 10px;
}

.text-info a {
    display: block;
    color: var(--red);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.text-info {
    margin-bottom: 5px;
}

.footer {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    margin-top: 100px;
    background-color: var(--red);
    height: 114px;
}

.footer img {
    float: left;
    padding-left: 32px;
    padding-top: 30px;
}

.footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px 28px;
    list-style-type: none;
    justify-content: center;
    float: right;
    margin-top: 45px;
    padding-left: 0px;
    margin-right: 32px;
}

.footer a {
    text-decoration: none;
    font-family: var(--poppins);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}

@media screen and (min-width: 2000px){
    #accordion2 ul {
        padding-left: 6% !important;
    }
}

@media screen and (max-width: 1670px){
    #accordion2 ul {
        padding-left: 10% !important;
    }
}

@media screen and (max-width: 1490px){
    .vertical-menu {
        width: 50% !important;
    }
}

@media screen and (max-width: 1250px){
    .vertical-menu {
        width: 60% !important;
    }
    #accordion2 ul {
        padding-left: 9% !important;
    }
}

@media screen and (max-width: 1050px) {
    .vertical-menu {
        width: 70% !important;
    }
    
    .info {
        display: none;
    }

    .footer {
        margin: 0;
        margin-top: -17px;
    }

    .footer-socials::after {
        content: ' ';
        width: 90%;
        height: .5px;
        display: block;
        background-color: white;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 970px) {
    #accordion2 ul {
        padding-left: 10% !important;
    }
    
    .nav-bar {
        height: 55px;
    }

    .nav-bar ul {
        display: none;
    }
}

@media screen and (max-width: 768px){
    #accordion2 ul {
        padding-left: 12% !important;
    }

    .vertical-menu {
        width: 76% !important;
    }
}

@media screen and (max-width: 510px) {
    #accordion2 ul {
        padding-left: 17% !important;
    }

    .vertical-menu {
        width: 100% !important;
    }
    
    .footer ul {
        float: none;
    }

    .footer figure {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .footer img {
        margin: 0;
        padding: 0;
    }

    .footer ul {
        margin: 0;
        float: none;
        padding: 0;
    }

    .footer-socials ul {
        padding-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer figure {
        display: none;
    }
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    cursor: pointer;
}

.vertical-menu {
    position: fixed;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100%;
    background-color: var(--white);
    padding: 30px;
    margin: 0;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.5s;
    z-index: 100;
    transition: left 1s ease-in-out;
}


.menu-opened .vertical-menu {
    left: 0;
}

.vertical-menu ul {
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#accordion2 {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 165px);
    padding-bottom: 75px;
    padding-left: 10px;
}

#accordion2 .ui-icon-circle-arrow-e2 {
    background-image: url('./images/plus-svgrepo-com.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-size: contain;
    background-position: center;
}

#accordion2 .ui-icon-circle-arrow-s2 {
    background-image: url('./images/minus-svgrepo-com\ \(1\).svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-size: contain;
    background-position: center;
}

#accordion2 h3 {
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    cursor: pointer;
    padding: 20px;
    transition: all 0.5s;
    padding-bottom: 0;
}

#accordion2 h3:hover {
    color: var(--vertical-menu);
}

#accordion2 h3.ui-state-active {
    color: var(--vertical-menu);
}

#accordion2 ul {
    display: block;
    padding-left: 9%;
}

#accordion2 ul a {
    text-decoration: none;
    font-family: var(--poppins);
    color: var(--vertical-menu);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

#accordion2 li{
    margin-bottom: 10px;
}